# .NET
backend/KdramaTracker/bin/
backend/KdramaTracker/obj/
backend/KdramaTracker/*.db
backend/KdramaTracker/*.db-shm
backend/KdramaTracker/*.db-wal

# Angular
frontend/node_modules/
frontend/dist/
frontend/.angular/

# OS
.DS_Store
Thumbs.db
